.Contacts {
    min-height: 75vh;
}

.Contacts .Text {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3vh;
    margin-left: 3vh;
    font-family: BlinkMacSystemFont, serif;
    font-style: italic;
    font-size: calc(8px + 2vmin);
    color: black;
}

.Contacts .RadialMenu {
    min-height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
