.Footer {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Footer .Text {
    font-family: -apple-system, BlinkMacSystemFont, serif;
    font-size: calc(8px + 1vmin);
    color: white;
    margin-right: 3vw;
    margin-left: 3vw;
}
