.Language {
    min-height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Language .Button {
    font-family: -apple-system, BlinkMacSystemFont, cursive;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
