.About {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About .HeadText {
    font-family: BlinkMacSystemFont, serif;
    font-size: calc(8px + 2vmin);
    color: black;
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
}

.About .SelectButtons {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.About .SelectButtons .Button {
    font-style: italic;
    font-size: calc(8px + 1vmin);
    color: black;
    margin-right: 1vh;
    margin-left: 1vh;
}

.About .Description {
    margin-right: 3vh;
    margin-left: 3vh;
}

.About .Description .Content {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.About .Description .Content .Text {
    font-family: BlinkMacSystemFont, serif;
    font-style: italic;
    font-size: calc(8px + 2vmin);
    color: black;
}

.About .Description .Content .CloseButton {
    align-self: baseline;
}

.About .Description .Content .CloseButton .CloseLabel {
    transform: rotate(45deg);
}

.About .Description .Logo {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About .Description .Logo .Image {
    animation: Image-spin infinite 20s linear;
    height: 20vh;
}

@keyframes Image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
