.Header {
    min-height: 20vh;
}

.Header .Buttons {
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1vw;
    margin-right: 1vw;
}

.Header .Logo {
    min-height: 14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Header .Logo .Image {
    height: 14vmin;
}

.Header .Logo .Text {
    font-family: -apple-system, BlinkMacSystemFont, "Srisakdi", cursive;
    font-style: italic;
    font-size: calc(10px + 3vmin);
    color: black;
}
