.Menu {
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1vw;
}

.Menu .List {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Menu .List .Items {
    font-family: "Srisakdi", "Bad Script", cursive;
    font-size: calc(8px + 3vmin);
    color: black;
}

.Menu .List .Items .Item {
    border-bottom: 1px solid #d6d6d6;
}

.Menu .List .Items .Item a {
    display: block;
    padding: 2vh;
    text-decoration: none;
    color: inherit;
}

.Menu .List .Items .Item a:hover {
    text-decoration: none;
    background-color: #d6d6d6;
    color: inherit;
}

.Menu .List .Items .Item a:focus {
    text-decoration: none;
}

.Menu .List .Items .Item a:visited {
    color: inherit;
}

.Menu .List .Logo {
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Menu .List .Logo .Image {
    height: 15vh;
}
